# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем файлы конфигурации с чувствительными данными
.env

# Игнорируем сессии Telethon
my_session.session*
*.session*

# Игнорируем лог-файлы
*.log

# Игнорируем файлы IDE
.vscode/
.idea/
*.pyc
__pycache__/
session.json
