# Игнорируем виртуальное окружение
venv/
.venv/

# Игнорируем файлы конфигурации с чувствительными данными
.env

# Игнорируем сессии Telethon
my_session.session*
*.session*

# Игнорируем лог-файлы
*.log
messages.log
errors.log
unknown_senders.log

# Игнорируем файлы IDE
.vscode/
.idea/
.cursor/
*.pyc
__pycache__/

# Игнорируем файлы сессии и сообщений
session.json
messages/
.messages/
